<a href="https://colab.research.google.com/github/abdalla175/FCMC-course/blob/main/session1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

input and output
data types

In [ ]:
print(5)

5

In [ ]:
x = 1


x = 2
print(x)   # X will not work  you should use the same name of the variable
print(type(x))

2
<class 'int'>

In [ ]:
b_float = 1.2
print(b_float,type(b_float))

1.2 <class 'float'>

In [ ]:
real = 2
imag = 5
num = complex(real, imag)
print(num)    # print will start new line after printing
print(type(num))

(2+5j)
<class 'complex'>

In [ ]:
y = '3'
print(type(y))
print(y*5)

<class 'str'>
33333

In [ ]:
y = 5
print(type(y))
print(y*5)

<class 'int'>
25

In [ ]:
print (chr (88))     # chr change the number to the opposite character in the unicode
print (chr (111455))    # out of range

X
õçü

In [ ]:
course_name = 'Machine Learning'
print(type(course_name))

<class 'str'>

In [ ]:
name = input()
print(name)

ahmed
ahmed

In [ ]:
birth_year = int(input("Birth year: "))

Birth year: 2002

In [ ]:
print(birth_year)
print("ahmed")

2002
ahmed

In [ ]:
print('Hello, ' + birth_year + '! How are you?')       # error because birth_year is int so it must be changed

TypeError: can only concatenate str (not "int") to str

In [ ]:
print(type(birth_year))

<class 'int'>

In [ ]:
print('Hello, ' + str(birth_year) + '! How are you?')

Hello, 2002! How are you?

In [ ]:
name = input("What is your name? ")
print(f'Hello, {name}          !How are you?')     # take care of spaces

What is your name? ali
Hello, ali          !How are you?

comments

In [ ]:
# this is single line comment

"""
this is a multiline comment
"""

'\nthis is a multiline comment\n'

mathmatical operators

In [ ]:
price_cake = 15
price_cookie = 6
total = price_cake + price_cookie       # you can do the mathematical operations in numbers (int - float)
print("The total is: ", total  , "$")

In [ ]:
price_cake = 15
number_of_cakes = 6
total = price_cake * number_of_cakes
print("The total is: ", total  , "$")

The total is:  90 $

In [ ]:
numbers_of_persons = 3
number_of_cakes = 6
number_of_cakes_for_each_person = number_of_cakes / numbers_of_persons
print("The number of cakes for each person is: ", number_of_cakes_for_each_person )

The number of cakes for each person is:  2.0

In [ ]:
price_cake = 15
number_of_cakes = 6
discount = 10
total = price_cake * number_of_cakes
print("total", total)

total = total - (total * discount / 100)
print("total", total)
print("The total is: ", total  , "$")

total 90
total 81.0
The total is:  81.0 $

In [ ]:
x = 3    # initialized before
print(type(x)) # Prints "<class 'int'>"

print(x) # Prints 3

print(x + 1) # Addition; prints 4         the value of x does not change

print(x - 1) # Subtraction; prints 2
print(x * 2) # Multiplication; prints 6
print(x ** 3)  # power print 9
print(x // 2)  # dividing without reminder
print(x / 2)   # reguler dividing    ,  will generate float number
print(type(x))
x = x /2      # x will be changed from int to float
print(type(x))

<class 'int'>
3
4
2
6
27
1
1.5
<class 'int'>
<class 'float'>

In [ ]:
print(10 % 3)         # return the reminder of dividing
print(8 % 3)       # 8 = 6 + 2 , 6 is Divisible but 2 is not

1
2

In [ ]:
x += 1   # another way to write x = x + 1
print(x) # Prints "4"

x *= 2      # you can write any mathematical operator before =
print(f" {x} \n") # Prints "8"

y = 2.5
y **= 2
print(f" {y} /n") # Prints "6.25"

255
 510

 6.25 /n

In [ ]:
print(y,' ', y + 1, y * 2, y ** 2)
# to print different variables in the same line
# you can use + if the variables are strings
#      or use ,

6.25   7.25 12.5 39.0625

strings

In [ ]:
word1 = 'hello'
word2 = "ahmed" # String literals can use single quotes or double

print(word1) # Prints "hello"

print(len(word1)) # String length; prints "5"

hw = word1 + ' ' + ",ali"     # String concatenation done by + operator

print(hw) # prints "hello world"

hello
5
hello ,ali

In [ ]:
hw12 = '%s %s %d' % (word1, word2,   12) # sprintf style string formatting    s for string,  d for digits , spaces between () doesn't matter
print(hw12) # prints "hello world 12"
hw12 = f'{word1} {word2} {    12}'   # another way for printing
print(hw12) # prints "hello world 12"
hw12 = word1 + ' ' + word2 + str(12)
print(hw12) # prints "hello world 12"

hello ahmed 12
hello ahmed 12
hello ahmed12

In [ ]:
# helpful functions to deal with strings
name = 'peter'
message = f'Hi, my name is {name}'
print(message.upper()) # to convert to uppercase
print(message.lower()) # to convert to lowercase
print(message.title()) # to capitalize the first letter of every word
print(message.capitalize())  # another way for capitalizing
print(message.find('p')) # returns the index of the first occurrence of p (or -1 if not found)
print(message.replace('p', 'q'))     # can be replaced by word

message    # doesn't change , in the last line in cell you don't have to write print

'HI, MY NAME IS PETER'

In [ ]:
s = "hello"
print(s.count('w')) # returns the number of occurrences of substring

# those functions work if the string length is less than the given number len(s)= 5 < 17 and < 7
print(s.rjust(17)) # last char in position 17
print(s.center(7)) # Center a string, padding with spaces; prints " hello "
print('               hello world '.strip()) # remove whitespaces from the beginning and the end , prints "hello world"

0
            hello
 hello
hello world

In [ ]:
txt = "welcome to the jungle"

x = txt.split()   # will split after every space

print(x)

['welcome', 'to', 'the', 'jungle']

In [ ]:
txt = "hello, my name is Peter, I am 26 years old"

x = txt.split(", ") # will split after every ", "
# x = txt.split(",") # will split after every ","
print(x)

['hello', ' my name is Peter', ' I am 26 years old']

In [ ]:
# to store data for multiple users we can't use variable for every thing like

name1 = "ali"
name2 = "ahmed"
age1 = 10
age2 = 14
# so we need list

lists

In [ ]:
ages = [30, 11, 25]      # Create a list
print(ages) # Prints "[3, 1, 2]"

[30, 11, 25]

In [ ]:
print( ages[2])
print(ages[-1]) # Negative indices count from the end of the list; prints "2"

25
25

In [ ]:
ages[2] = 'foo' # Lists can contain elements of different types   and i can change any element in it
print(ages) # Prints "[3, 1, 'foo']"

[30, 11, 'foo']

In [ ]:
ages.append('bar') # Add a new element to the end of the lis
print(ages) # Prints "[3, 1, 'foo', 'bar']"
ages.pop() # Remove and return the last element of the list
print(ages) # Prints "[3, 1, 'foo']"

[30, 11, 'foo', 'bar']
[30, 11, 'foo']

In [ ]:
ages.insert(0, 6) # adds 6 at index position of 0
ages.insert(4, 6) # adds 6 at index position of 4
print(ages)
ages.remove(6) # removes the first 6 in the list
print(ages)

[6, 30, 11, 'foo', 6]
[30, 11, 'foo', 6]

In [ ]:
ages.append(8)
print(ages.index(8)) # returns the index of first occurrence of 8

4

In [ ]:
cpy = ages.copy()    # to have copy from the data (if you change the copied , the real data will not changed and viceversa )
cpy.reverse() # reverses the list  and ages will be changed i don't have to write ages = ages.reverse
print(cpy)
ages

[8, 6, 'foo', 11, 30]

[30, 11, 'foo', 6, 8]

In [ ]:
print(len(ages))     # will print the length of the list
ages.clear() # removes all the items
print(len(ages))
print(ages)

5
0
[]

slicing

In [ ]:
nums = list(range(5)) # range is a built-in function that creates a list of integers
print("nums",nums) # Prints "[0, 1, 2, 3, 4]"

nums [0, 1, 2, 3, 4]

In [ ]:
print(nums[2:4]) # Get a slice from index 2 to 4 (exclusive); prints "[2, 3]"

[2, 3]

In [ ]:
print(nums[2:]) # Get a slice from index 2 to the end; prints "[2, 3, 4]"
print(nums[:2]) # Get a slice from the start to index 2 (exclusive); prints "[0, 1]"
print(nums[:]) # Get a slice of the whole list; prints "[0, 1, 2, 3, 4]"

[2, 3, 4]
[0, 1]
[0, 1, 2, 3, 4]

In [ ]:
print(nums[:-1]) # Slice indices can be negative; prints "[0, 1, 2, 3]"
print(nums[-3:-1])

[0, 1, 2, 3]
[2, 3]

In [ ]:
print(nums)
nums[2:4] = [8, 9] # Assign a new sublist to a slice or we can say to change the data in the list
print(nums)

[0, 1, 2, 3, 4]
[0, 1, 8, 9, 4]

In [ ]:
course = 'Machine Learning'          # strings treated as list
print(course[0]) # returns the first character
print(course[1]) # returns the second character

M
a

In [ ]:
print(course[-1]) # returns the first character from the end
print(course[-2]) # returns the second character from the end

g
n

In [ ]:
course[1:5]

'achi'

boolean and logical operators

In [ ]:
t = True      # bool variables are used to check something
f = False
print(type(t)) # Prints "<class 'bool'>"
print(t and f) # Logical AND; prints "False"           multiply
print(t or f) # Logical OR; prints "True"              add
print(not t) # Logical NOT; prints "False"
print(~t) # Logical NOT; prints "False"   another way 
print(t != f) # Logical XOR; prints "True"
print(t ^ f)  # Logical XOR;

<class 'bool'>
False
True
False
True
True
False

In [ ]:
a = 5;    # semi colon is optional
b = 9

print(a < b)       # if i print any logical operators it will print the boolean result
print(a >= b) #( is a greater than or equal b)
print(a < b)  # is a is less than b
print(a <= b) # is a less than or equal b
print(a == b) #(equals)
print(a != b)  # is a not equal b

True
False
True
True
False
True

IF condition

In [ ]:
is_hot = False
is_cold = False

if is_hot:
  print("hot day")
elif is_cold:
  print("cold day")
else:
  print("beautiful day")

In [ ]:
grade = 90
if grade >= 90:
  print("A")
elif grade >= 80:    # elif means else if
  print("B")
elif grade >= 70:  # if any of the above conditions is true it will not check the other conditions
  print("C")
elif grade >= 60:
  print("D")
else:
  print("F")

A

In [ ]:
 print(4)   # error because the space

In [ ]:
if 4 > 2 | 2 > 3:   # | means or , you can write any of them
  print('yes')
else: print('no')

no

In [ ]:
age = 25
is_succeded = True
if age > 23 & is_succeded:   # & means and  , you can write any of them
  print('yes')
else: print('no')

yes

In [ ]:
country = 'egypt'
age = 20

if( (age >=25 or country == 'egypt') and is_succeded):
    print("u can create account")

u can create account

additional resources:

https://www.youtube.com/watch?v=rfscVS0vtbw&t=14902s&pp=ygUHcHl0aG9uIA%3D%3D

https://www.youtube.com/playlist?list=PLDoPjvoNmBAyE_gei5d18qkfIe-Z8mocs

https://www.w3schools.com/python/python_intro.asp

https://www.geeksforgeeks.org/introduction-to-python

try to have the skill of searching for solutions or for another resources
if you have any problem feel free to ask